body{
 background:repeating-linear-gradient(90deg, darkslateblue, midnightblue 100%);
}

nav{
  text-align: center;
  width: 100%;
  background-color:goldenrod ;
  font-size:160%;
}

header{
  padding:10px;
  text-align:center;
}

p{
  font-size:150%;
}

h2{
  font-size: 160%;
  text-decoration:underline;
}


.logo{
  width: 70px;
  max-width: 100%;
	height: auto;
  float:right;
}

.navig{
  color: black;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 16%;
  text-decoration:none;
}

.i{
  font-style:italic;
}
