body{
 background-color: darkslateblue;
}

header{
  text-align:center;
  background-color: khaki;
  height: 90px;
}

nav{
  text-align: center;
  width: 100%;
  font-size:160%;
}

h2{
  text-align:center;
}

.navig{
  color: black;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  font-size:large;
  text-decoration:none;
}

.titre{
  position: relative;
  font-size: 180%;
  font-weight:bold;
  z-index: =2;
}

.logo{
  height: 90px;
  width: auto;
  position: fixed;
  right: 0;
  top: 0;
}
