body{
 background-color: darkslateblue;
}

nav{
  text-align: center;
  width: 100%;
  background-color:greenyellow ;
  font-size:150%;
}

header{
  padding:5px;
  text-align:center;
  font-size: 200%;
  font-weight:bold;
}

p{
  color: khaki;
  font-size: 110%;
  text-align:center;
}


.logo{
  height: 55px;
  width: auto;
  float: right;
}

.navig{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 16%;
  color: black;
  text-decoration:none;
}
