body{
 background-color:cornsilk;
}

nav{
  text-align: center;
  width: 100%;
  background-color:deepskyblue;
  font-size:160%;
}

header{
  background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%);
  padding:5px;
  text-align:center;
}

p{
  font-size:120%;
}

ul{
  font-size:120%;
}

h4{
  font-style:italic;
  font-size:130%;
}

img{
  float:left;
}

h2{
  font-size: 160%;
  text-decoration:underline;
}


.navig{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 16%;
  text-decoration:none;
  color:darkblue;
  font-weight:bold;
}

.i{
  font-style:italic;
}

.exemple{
  color:limegreen;
  font-size:120%;
}

.s{
  text-decoration:underline;
}
