body{
 background-color: papayawhip;
}

header{
  text-align: center;
  background-color: RGB(144,183,54);
}

nav{
  width: 100%;
  text-align: center;
}

nav> .navig>a{
  text-decoration: none;
  color: black;
}

nav>.navig> a:hover{
  text-decoration: none;
  font-weight:bold;
  color: black;
}

p{
  margin-left: 3%;
  margin-right: 3%;
  font-size: 150%;
  text-align: center;
}

.navig{
  display: flex;
}

.navig >a{
  font-size: 180%;
  flex-basis: 50%;
}

.titre{
  font-size: 200%;
  font-weight:bold;
}

.wallpaper{
  width: 100%;
}
