body{
 background-color:papayawhip;
}

header{
  text-align: center;
  background-color: RGB(91,103,55);
}


.titre{
  font-size: 180%;
  font-weight:bold;
}

.wallpaper{
  width: 100%;
}

.bout{
  text-align: center;
}
