body{
 background-color: papayawhip;
}

header{
  text-align: center;
  background-color: RGB(144,183,54);
}

nav{
  display: flex;
  width: 100%;
}

nav> div > div > a{
  text-decoration: none;
  color: black;
}

nav> div > div > a:hover{
  text-decoration: none;
  font-weight:bold;
  color: black;
}

p{
  font-size: 150%;
  text-align: center;
}

.titre{
  font-size: 200%;
  font-weight:bold;
}

.wallpaper{
  width: 100%;
}

.navig{
  flex-basis: 50%;
  text-decoration:none;
  color:black;
  font-size: 180%;
  text-align: center;
  display: flex;
}

.navig2{
  flex-basis: 50%;
}
