body{
 background-color:papayawhip;
}

header{
  text-align: center;
  background-color: RGB(144,183,54);
}

.titre{
  font-size: 180%;
  font-weight:bold;
}

.lieng{
  margin-left: 10%;
  text-decoration: none;
  color: black;
  text-align: center;
  text-transform: capitalize;
}
.lieng:hover{
  font-weight:bold;
  color: #000;
}

.liend{
  margin-right: 10%;
  text-decoration: none;
  color: black;
  text-align: center;
  text-transform: capitalize;
}
.liend:hover{
  font-weight:bold;
  color: #000;
}


.bout{
  text-align: center;
}
