body{
 background-color:papayawhip;
}

header{
  text-align: center;
  background-color: RGB(144,183,54);
}


.titre{
  font-size: 180%;
  font-weight:bold;
}

<<<<<<< HEAD
.wallpaper{
  width: 100%;
  height: 500px;
}

=======
>>>>>>> 560aa891fc7f8d18aa7dc7adf7c11e1db714b675
.bout{
  text-align: center;
}
